body{
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 10px 10px 10px rgba(0,0,0,.5);
    background-color: #E1EDEB;
}
.header{
    width: 100%;
    border: 2px solid;
}
.content{
    width: 400px;
    border: 2px solid red;
}
.left{
    height: 400px;
    width: 200px;
    border: 2px solid blue;
}
.footer{
    width: 100%;
    border: 2px solid green;
}
