body{
    height: 100%;
    width: 85%;
    padding: 10px;
    margin: 0 auto;

}
.warp {width: 1000px; }

.header{height: 150px;
    width: 100%;
    border: 2px solid blue;
    -moz-border-radius: 30px 0px;
    -webkit-border-radius: 30px 0px 30px 0px;/*This is the correct shorthand for webkit*/
    border-radius: 30px 0px;
}
.content{float: left;
    -moz-border-radius: 30px 0px;
    -webkit-border-radius: 30px 0px 30px 0px;
    margin-top: 4px;
    width: 770px;
    height: 100%;
    border: 2px solid red;
    text-indent: 25px;
    padding: 10px;
    margin-left: 2px;
}
.left{
    -moz-border-radius: 30px 0px;
    -webkit-border-radius: 30px 0px 30px 0px;
    margin-top: 4px;
    display:block;
    float: left;
    height: 100%;
    width: 200px;
    border: 2px solid orange;
}
.footer{
    float:left;
    margin-top: 4px;
    height: 150px;
    width: 100%;
    border: 2px solid green;
    -moz-border-radius: 30px 0px;
    -webkit-border-radius: 30px 0px 30px 0px;/*This is the correct shorthand for webkit*/
    border-radius: 30px 0px;
    text-indent: 25px;

}
/*------------ГОРИЗОНТАЛЬНАЯ НАВИГАЦИЯ-------*/
ul.nav {text-align: center;
    list-style-type: none;
    padding-top: 90px;
    padding-left: 0;
    margin-left: 0;

}
.nav li { display: inline; }
.nav a {font: normal normal bold 18px/1 "Comic Sans MS", cursive, sans-serif;
    display: inline-block;
    border: 1px;
    padding: 5px 15px 5px 15px;
    background-color:lightskyblue;
    text-decoration: none;
    color:white;
    width: 90px;
    text-align: center;
    margin-right: 10px;
}
.nav a:link { background-color: lightskyblue;}
.nav a:hover { background-color: blue; }
.nav a:active {background-color: deepskyblue; }
/*------------КОНЕЦ ГОРИЗОНТАЛЬНОЙ НАВИГАЦИИ-------*/
/*------------ВЕРТИКАЛЬНАЯ НАВИГАЦИЯ-------*/
.nav2 {list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}
.nav1 {font: normal normal bold 18px/1 "Comic Sans MS", cursive, sans-serif;
    list-style-type: none;
    text-decoration: none;
    display: block;
    width: 120px;
    border: 1px;
    background-color:lightskyblue;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color:white;
    margin-left: 8px;
    margin-top: 5px;
    }
.nav1:link { background-color: lightskyblue;}
.nav1:hover { background-color: blue; }
.nav1:active {background-color: deepskyblue; }
.TTWForm-container{margin-left: 140px}
/*------------КОНЕЦ ВЕРТИКАЛЬНОЙ НАВИГАЦИИ-------*/
.form-container {width: 300px;

}
.form-cont {height: 30px;
    width:450px;
}
.submit-container {
    margin:8px 0;
    text-align:right;
}
.submit-button {
    border: 1px solid #447314;
    background: #6aa436;
    background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
    background: -webkit-linear-gradient(top, #8dc059, #6aa436);
    background: -moz-linear-gradient(top, #8dc059, #6aa436);
    background: -ms-linear-gradient(top, #8dc059, #6aa436);
    background: -o-linear-gradient(top, #8dc059, #6aa436);
    background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    text-shadow: #addc7e 0 1px 0;
    color: #31540c;
    font-family: helvetica, serif;
    padding: 8.5px 18px;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
}
.submit-button:hover {
    border: 1px solid #447314;
    text-shadow: #31540c 0 1px 0;
    background: #22ff12;
    background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#22ff12));
    background: -webkit-linear-gradient(top, #8dc059, #22ff12);
    background: -moz-linear-gradient(top, #8dc059, #22ff12);
    background: -ms-linear-gradient(top, #8dc059, #22ff12);
    background: -o-linear-gradient(top, #8dc059, #22ff12);
    background-image: -ms-linear-gradient(top, #8dc059 0%, #22ff12 100%);
    color: #fff;
}
.submit-button:active {
    text-shadow: #31540c 0 1px 0;
    border: 1px solid #447314;
    background: #8dc059;
    background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#22ff12));
    background: -webkit-linear-gradient(top, #6aa436, #8dc059);
    background: -moz-linear-gradient(top, #6aa436, #8dc059);
    background: -ms-linear-gradient(top, #6aa436, #8dc059);
    background: -o-linear-gradient(top, #6aa436, #8dc059);
    background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
    color: #fff;
}
