body{
    height: 100%;
    width: 80%;
    padding: 10px;
    margin: 0 auto;
    background-color: #E1EDEB;
}
.warp {width: 1000px; }

.header{height: 150px;
    width: 100%;
    border: 1px solid;
    -moz-border-radius: 30px 0px;
    -webkit-border-radius: 30px 0px 30px 0px;/*This is the correct shorthand for webkit*/
    border-radius: 30px 0px;
}
.content{width: 1000px;
       height: 400px;
    border: 1px solid red;
}
.left{display:block;
    float: left;
    height: 400px;
    width: 200px;
    border: 1px solid blue;
}
.footer{width: 200px;
    width: 100%;
    border: 1px solid green;
    -moz-border-radius: 30px 0px;
    -webkit-border-radius: 30px 0px 30px 0px;/*This is the correct shorthand for webkit*/
    border-radius: 30px 0px;

}
ul.nav {text-align: center;
    list-style-type: none;
    padding-top: 100px;
    padding-left: 0;
    margin-left: 0;

}
.nav li { display: inline; }
.nav a {font: normal normal bold 18px/1 "Comic Sans MS", cursive, sans-serif;
    display: inline-block;
    border: 1px;
    padding: 5px 15px 5px 15px;
    background-color:lightskyblue;
    text-decoration: none;
    color:white;
    width: 90px;
    text-align: center;
    margin-right: 10px;
}
.nav a:link { background-color: lightskyblue;}
.nav a:hover { background-color: blue; }
.nav a:active {background-color: deepskyblue; }